name: Milestone Assigner

on:
  pull_request:
    types:
      - opened 
  issues:
    types:
      - opened 

jobs:
  add:
    name: Add Milestone 
    runs-on: ubuntu-latest 
    steps:
      - uses: Julexar/Milestone-Assigner@v1.0 
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
          milestone: "v*"
          use-glob: 'true'